@using Conesoft.Blazor.Components
@using Conesoft.PwaGenerator

<!DOCTYPE html>
<html lang="en">

<head>
    <HtmlHead LocalStylesheet=true Stylesheet="app" />
    <PwaHeaderTags />
</head>

<body>
    <Routes />
</body>

</html>
